{% extends "base.html" %}


{% block bodydata %}
		<div id="primaryContent_2columns">
			<div id="columnA_2columns">
				{% block columnA %}
				{% endblock %}		
			</div>	
		</div>		
		<div id="secondaryContent_2columns">
			<div id="columnC_2columns">
				{% block columnC %}
				{% endblock %}
			</div>
		</div>
{% endblock %}
