{% extends "base.html" %}

{% block headerlayouttype %}fixed{% endblock %}
{% block bodylayouttype %}fixed{% endblock %}
{% block footerlayouttype %}fixed{% endblock %}


{% block bodydata %}
		<div id="primaryContent_3columns">
			<div id="columnA_3columns">
				{% block columnA %}
				{% endblock %}		
			</div>	
		</div>		
		<div id="secondaryContent_3columns">
			<div id="columnB_3columns">
				{% block columnB %}
				{% endblock %}
			</div>
			
			<div id="columnC_3columns">
				{% block columnC %}
				{% endblock %}
			</div>

		</div>
{% endblock %}
