<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
	Nonzero1.0 by nodethirtythree design
	http://www.nodethirtythree.com
	missing in a maze
-->
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>CT School - Novi Sad</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" media="screen,projection" type="text/css" title="Red" href="/static/css/style.css" />
{% block additional_head_content %}{% endblock %}
</script>
</head>
<body>
<div id="header">
<div id="header_inner" class="{{ layouttype }}">

		<div id="logo">
			<h1><span>CT school {% block title %}{% endblock %}</span></h1>
			<h2>Medical Faculty, Novi Sad</h2>
		</div>
		
		<div id="menu">
			<ul>
				<li><a href="/" {% block topmenu_main_active %}{% endblock %}>main</a></li>
				<li><a href="/event/" {% block topmenu_event_active %}{% endblock %}>events</a></li>
				<li><a href="/team/" {% block topmenu_team_active %}{% endblock %}>team</a></li>
				<li><a href="/book/" {% block topmenu_book_active %}{% endblock %}>books</a></li>
				<li><a href="/gallery/page/1/" {% block topmenu_galleries_active %}{% endblock %}>galleries</a></li>
				<li><a href="/contact/" {% block topmenu_contact_active %}{% endblock %}>contact</a></li>
			</ul>
		</div>
		
	</div>
</div>

<div id="main">

	<div id="main_inner" class="{{ layouttype }}">	
	{% block bodydata %}
	{% endblock %}
	
	</div>

</div>

<div id="footer" class="{{ layouttype }}">
	Copyright &copy; 2008 ctschool. All rights reserved. Powered by <a href="http://www.djangoproject.com/">Django framework</a>.
</div>

</body>
</html>