{% extends "2columnpage.html" %}

{% block topmenu_book_active %}
 class="active"
{% endblock %}

{% block columnA %}
<h3><span>we published...</span></h3>
{% for book in books %}
				<p>
				<h3><a href="{{book.get_absolute_url}}"><span>{{book.title}}</span></a></h3>			
				<h2>year: <span>{{book.year}}</span></h2>				
				<br class="clear" />
				</p>
{% endfor %}

{% endblock %}

{% block columnC %}				
{% include "friends.html" %}
{% endblock %}