{% extends "2columnpage.html" %}

{% block topmenu_book_active %}
 class="active"
{% endblock %}


{% block columnA %}

				<h3><span>{{book.title}}</span></a></h3>			
				<h2>year: <span>{{book.year}}</span></h2>				
				<br class="clear" />
				</p>

{% endblock %}

{% block columnC %}				
{% include "friends.html" %}	
{% endblock %}