{% extends "base.html" %}

{% block headerlayouttype %}fixed{% endblock %}
{% block bodylayouttype %}fixed{% endblock %}
{% block footerlayouttype %}fixed{% endblock %}


{% block bodydata %}
		<div id="primaryContent_columnless">
			<div id="columnA_columnless">
				{% block columnA %}
				{% endblock %}
				{% block content %}{% endblock %}				
			</div>	
		</div>
		<br class="clear" />
{% endblock %}
