{% extends "2columnpage.html" %}

{% block topmenu_event_active %}
 class="active"
{% endblock %}

{% block columnA %}
<h3><span>we organized...</span></h3>
{% for event in events %}
				<p>
				<h3><a href="{{event.get_absolute_url}}"><span>{{event.title}}</span></a></h3>			
				<h2>time: <span>{{event.start_date|date:"d.m.Y"}} - {{event.end_date|date:"d.m.Y"}}</span></h2>
				<h2>main organizer: <span>{{event.mainorganiser}}</span></h2>				
				<h3> </h3></p>
				<br class="clear" />
{% endfor %}

{% endblock %}

{% block columnC %}				
{% include "friends.html" %}
{% endblock %}