{% extends "3columnpageleft.html" %}

{% block topmenu_event_active %}
 class="active"
{% endblock %}

{% block columnA %}	
				<h3><span>{% block event_page_title %}{% endblock %}</span></h3>
				{% block event_page_content %}{% endblock %}
				<br class="clear" />				
{% endblock %}


{% block columnB %}				
				<h4><span>Event</span> menu...</h4>

				<ul id="eventmenu">
					<li><a href="/event/{{event.id}}/">main page</a></li>
					<li><a href="/event/{{event.id}}/schedule/">schedule</a></li>
					<li><a href="/event/{{event.id}}/gallery/">gallery</a></li>					
					<li><a href="/event/{{event.id}}/participants/">participants</a></li>
				</ul>
{% endblock %}

{% block columnC %}				
{% include "friends.html" %}
{% endblock %}