{% extends "event_base.html" %}

{% block event_page_title %}{{event.title}}{% endblock %}

{% block event_page_content %}
				{% for schedule in event.schedules.all %}
				<p>
				<h2>{{schedule.date|date:"d.m."}}<span> {{schedule.title}}</span></h2>
				<table id="box-table" summary="Day schedule">
				    <thead>
				    	<tr>
				        	<th scope="col"><span>Time</span></th>
				            <th scope="col">Title</th>
				            <th scope="col">Lecturer</th>
				            <th scope="col">Description</th>
				        </tr>
				    </thead>
				    <tbody>
					{% for slice in schedule.slices.all %}
				    	<tr>
				        	<td>{{slice.start|time:"H:i"}} - {{slice.end|time:"H:i"}}</td>
				            <td>{{slice.title}}</td>
				            <td>{{slice.person}}</td>
				            <td>{{slice.desc|safe}}</td>
				        </tr>
					{% endfor %}				        
				    </tbody>
				</table>
				<br class="clear" />				
				</p>
				{% endfor %}
{% endblock %}
