{% extends "event_base.html" %}

{% block event_page_title %}{{event.title}}{% endblock %}

{% block event_page_content %}
				{% for photo in event.gallery.photos.all %}
				<div class="gallery-photo">
					<a href="{{ photo.image.url }}" rel="lightbox"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/>{{ photo.title }}</a>
				</div>
				{% endfor %}
{% endblock %}
