{% extends "event_base.html" %}

{% block event_page_title %}{{event.title}} {% endblock %}

{% block event_page_content %}

				<h2>time: <span>{{event.start_date|date:"d.m.Y"}} - {{event.end_date|date:"d.m.Y"}}</span></h2>
				<h2>main organizer: <span>{{event.mainorganiser}}</span></h2>
				
				{{event.desc|safe}}
				


{% endblock %}
