				<h4>our <span>sponsors</span>...</h4>
				<ul class="friends">	
				{% if generalsponsor %}
				<li class="first"><h2><span>general sponsor</span></h2><a href="{{generalsponsor.url}}"><img alt="{{ generalsponsor.title }}" title="{{ generalsponsor.title }}" src="{{generalsponsor.photo.get_friend_url }}"/>{{ generalsponsor.title }}</a></li>				
				{% endif %}
				{% for sponsor in sponsors %}
				<li class="first"><a href="{{ sponsor.url }}"><img  alt="{{ sponsor.title }}" title="{{ sponsor.title }}" src="{{sponsor.photo.get_friend_url }}"/>{{ sponsor.title }}</a></li>
				{% endfor %}
				</ul>
				<h4>our <span>friends</span>...</h4>
				<ul class="friends">
				{% for friend in friends %}
				<li class="first"><a href="{{ friend.url }}"><img  alt="{{ friend.title }}" title="{{ friend.title }}" src="{{friend.photo.get_friend_url }}"/>{{ friend.title }}</a></li>
				{% endfor %}
				</ul>	