{% extends "3columnpage.html" %}

{% block topmenu_main_active %}
 class="active"
{% endblock %}

{% block columnA %}	
	{% for newsEntry in news %}
		<div class="post">
		<h3> {{ newsEntry.title }}</h3>
		<ul class="post_info">
			<li class="date">Posted by <strong>{{ newsEntry.getauthor }}</strong> on {{ newsEntry.published|date:"d.m.Y  G:i" }}</li>
		</ul>
		{{ newsEntry.content|safe }}
		</div>	
		<br class="clear" />
	{% endfor %}			
{% endblock %}


{% block columnB %}				
				<h4><span>We organized</span>...</h4>
				<ul class="links">
				{% for event in events %}
					<li><a href="{{event.get_absolute_url}}">{{ event.shorttitle }}</a></li>				
				{% endfor %}				
				</ul>
				
				<h4><span>We published</span>...</h4>
				<ul class="links">
				{% for book in books %}
					<li><a href="{{book.get_absolute_url}}">{{ book.shorttitle }}</a></li>				
				{% endfor %}				
				</ul>
				
				<h4>other <span>pages</span>...</h4>
				<ul class="links">
				{% for page in pages %}
					<li><a href="{{page.url}}">{{ page.title }}</a></li>				
				{% endfor %}				
				</ul>
				
				<h4><span>About</span> us...</h4>
				<p><strong>The Centre for Radiology</strong> is a radiology referral centre and teaching base for Vojvodina. The centre provides a complete set of diagnostic services for the needs of the <a href="#">Clinical Centre of Vojvodina</a>.</p>
				
{% endblock %}

{% block columnC %}				
{% include "friends.html" %}				
{% endblock %}