{% extends "base.html" %}

{% block topmenu_contact_active %}
 class="active"
{% endblock %}

{% block bodydata %}
		<div id="primaryContent_columnless">
			<div id="columnA_columnless"><br/>
				<h3> {{flatpage.title}} </h3>
				{% block columnA %}
				{% endblock %}
				{% block content %}
				{{ flatpage.content }} 
				{% endblock %}				
			</div>	
		</div>
		<br class="clear" />
{% endblock %}
